.cards-container-area{
    
    
    width: 100%;
    display: flex;
    justify-items: center;
    height: 100vh;
    margin-top: 5rem;
    background-color: $dark-blue-main;
    .card-area-center{
        max-width: 1440px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80vw;
        margin: 0 auto;
        place-items: center;
        gap: 1.5rem;
        .card{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            object{
             margin-bottom: 20px;
            }
            h3{
                color: $White;
                margin-bottom: 10px;
            }
            p{
                font-size: 0.8rem;
                color: $gray;
                font-weight: 400;
            }
        }
    }
}

