footer{
    display: flex;
    background: $dark-blue-footer;
    color: white;
    height: 60vh;
    align-items: center;
    flex-direction: column;
    .footer-column-area{
        align-items: center;
        height: 100%;
        display: flex;
        width: 80vw;

        .column-footer{
            max-width: 300px;
            display: flex;
            flex-direction: column;
            padding: 5px;
            
            li{
                
                a{
                    color: $White;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:600px){
    footer{
        padding: 100px 0px;
        height: auto;
        display: flex;
        flex-direction: column;
        .footer-column-area{
            flex-direction: column;
            align-items: flex-start;

            .column-footer{
                margin: 20px 0px;
                li{
                    
                    a{
                        padding: 10px 0px;
                        display: flex;
                    }
                    
                    
                }
            }
        }
    }
}