
.container{
    font-family: $font-Raleway;
    position: relative;

    .svg-curve-background{
        position: absolute;
       bottom: 0;
        z-index: -1;
        width: 100%;
        margin: 0 auto;
      
    }
    .svg-curve-mobile{
        display: none;
        z-index: -1;
        position: absolute;
    }
    .illustration-area{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin: 0 auto;
        flex-direction: column;
        position: relative;
        img{
            width: 30vw;
            margin-bottom: 15px;
        }
        h1{
            font-size: 2rem;
            text-align: center;
            color: $White;
            margin-bottom: 5px;
            max-width: 650px;
            line-height: 2.8rem;
        }
        p{
            max-width: 450px;
            color: $gray;
            text-align: center;
            line-height: 1.4rem;
        }
        .btn-hero{
    
            margin-top: 10px;
            background: linear-gradient(to right,$Cyan-gradient,$Blue-gradient);
            color: white;
            border-radius: 25px;
            padding: 15px 80px;
            text-decoration: none;
            font-size: 0.8rem;
            font-weight: 700;
        }
    }
   
}

@media screen and (max-width:600px){
    .container{
        .svg-curve-background{
            display: none;
        }
        .svg-curve-mobile{
            display: flex;
            min-width: 360px;
            bottom: 0;

        }
        .illustration-area{
            img{
                width: 19rem;
            }
            h1{
                font-size: 2rem;
            }
            .svg-curve-background{
                display: none;
            }
        }
    }
}
