.illustration-area{
display: flex;
justify-content: center;
align-items: center;
width: 50vw;
margin: 0 auto;
flex-direction: column;

}

.illustration-area img{
    width: 38vw;
    margin-bottom: 15px;
}

.illustration-area h1{
    font-size: 2rem;
    text-align: center;
    color: $White;
    margin-bottom: 5px;
}

.illustration-area p{
    color: rgb(167, 167, 167);
    text-align: center;
}

.illustration-area .btn-hero{
    margin-top: 10px;
    background: linear-gradient(to right,$Cyan-gradient,$Blue-gradient);
    color: white;
    border-radius: 25px;
    padding: 15px 60px;
    text-decoration: none;
    font-size: 0.8rem;
}