header{
    
nav{
    display: flex;
    width: 80vw;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    align-items: center;
    .logo{
      img{
        height: 2.5rem;
      }
    }
    .menu{
        
        display: flex;
        justify-content: center;

        li{
            list-style: none;
            a{
                color: $gray;
                padding: 20px;
                font-size: 0.8rem;
                text-decoration: none;
                &:hover{
                    color: $White;
                    text-decoration: underline;
                }
            }

        }
    }
}
}


@media screen and (max-width:600px){
    header{
        nav{
           
            .logo{
                display: flex;
                img{
                    height: 2rem;
                }
            }
            .menu{
                li{
                    a{
                        padding: 5px;
                    }
                }
            }
        }
    }
}

