
@import "_variables";
@import '_navbar';
@import '_hero';
@import '_cards-area';
@import '_stay-productive';
@import '_comments-card';
@import '_footer';
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    font-size: 14px;
    font-family: $font-Open-Sans;
    background-color: $dark-blue-background;
}

li{
    list-style-type: none;
}

