header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px 20px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo img {
  height: 2.5rem;
}

header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .menu li {
  list-style: none;
}

header nav .menu li a {
  color: #bbbbbb;
  padding: 20px;
  font-size: 0.8rem;
  text-decoration: none;
}

header nav .menu li a:hover {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  header nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .logo img {
    height: 2rem;
  }
  header nav .menu li a {
    padding: 5px;
  }
}

.container {
  font-family: "Raleway", sans-serif;
  position: relative;
}

.container .svg-curve-background {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
}

.container .svg-curve-mobile {
  display: none;
  z-index: -1;
  position: absolute;
}

.container .illustration-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .illustration-area img {
  width: 30vw;
  margin-bottom: 15px;
}

.container .illustration-area h1 {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  max-width: 650px;
  line-height: 2.8rem;
}

.container .illustration-area p {
  max-width: 450px;
  color: #bbbbbb;
  text-align: center;
  line-height: 1.4rem;
}

.container .illustration-area .btn-hero {
  margin-top: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  color: white;
  border-radius: 25px;
  padding: 15px 80px;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .container .svg-curve-background {
    display: none;
  }
  .container .svg-curve-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 360px;
    bottom: 0;
  }
  .container .illustration-area img {
    width: 19rem;
  }
  .container .illustration-area h1 {
    font-size: 2rem;
  }
  .container .illustration-area .svg-curve-background {
    display: none;
  }
}

.cards-container-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  height: 100vh;
  background-color: #181f2a;
}

.cards-container-area .card-area-center {
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(320px, 1fr));
  width: 80vw;
  margin: 0 auto;
  place-items: center;
  gap: 1.5rem;
}

.cards-container-area .card-area-center .card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
}

.cards-container-area .card-area-center .card object {
  margin-bottom: 20px;
}

.cards-container-area .card-area-center .card h3 {
  color: white;
  margin-bottom: 10px;
}

.cards-container-area .card-area-center .card p {
  font-size: 0.8rem;
  color: #bbbbbb;
  font-weight: 400;
}

@media (max-width: 600px) {
  .cards-container-area {
    height: auto;
    padding: 50px 0px;
  }
  .cards-container-area .card-area-center {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.stay-productive-area {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 100vh;
  background-color: #181f2a;
}

.stay-productive-area .image-productive-area img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.stay-productive-area .text-productive .box-text {
  margin-left: 40px;
  width: 23rem;
}

.stay-productive-area .text-productive .box-text h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  margin: 20px 0px;
  color: white;
  line-height: 2.8rem;
}

.stay-productive-area .text-productive .box-text article p.paragraph-order {
  color: #bbbbbb;
  margin-bottom: 20px;
}

.stay-productive-area .text-productive .box-text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 0px;
  text-decoration: none;
  border-bottom: 1px solid #65e2d9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stay-productive-area .text-productive .box-text a p {
  color: #65e2d9;
}

.stay-productive-area .text-productive .box-text a span {
  margin-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #181f2a;
  background-color: #65e2d9;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.stay-productive-area .text-productive .box-text a:hover > span {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

@media screen and (max-width: 600px) {
  .stay-productive-area {
    height: auto;
    padding: 80px 0px;
  }
  .stay-productive-area .image-productive-area {
    width: 80vw;
  }
  .stay-productive-area .text-productive .box-text {
    margin-left: 0px;
    width: 80vw;
  }
}

.comments-cards-area {
  max-width: 1440px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #181f2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0px 150px 0px;
}

.comments-cards-area .comment-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  background: #202a3c;
  padding: 20px;
  margin: 10px;
  min-width: 290px;
  max-width: 340px;
  max-height: 190px;
  border-radius: 5px;
}

.comments-cards-area .comment-card .bg-quotes {
  z-index: 5;
  position: absolute;
  top: -30px;
  left: -10px;
}

.comments-cards-area .comment-card article {
  margin: 10px 0px;
}

.comments-cards-area .comment-card .author-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-cards-area .comment-card .author-comment img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comments-cards-area .comment-card .author-comment .author-and-ocupation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments-cards-area .comment-card .author-comment .author-and-ocupation .author {
  color: white;
  font-weight: 700;
}

.comments-cards-area .comment-card .author-comment .author-and-ocupation .ocupation {
  color: #bbbbbb;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0b1523;
  color: white;
  height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .form-footer {
  position: absolute;
  top: -25%;
  left: -50%;
  right: -50%;
  margin: 0 auto;
  height: auto;
  background-color: #1c2431;
  padding: 30px 50px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  max-width: 60vw;
  min-width: 340px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

footer .form-footer h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

footer .form-footer p {
  margin-bottom: 10px;
  color: #bbbbbb;
}

footer .form-footer .input-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .form-footer .input-area input[type=email] {
  background-color: white;
  border-radius: 25px;
  padding: 15px 20px;
  border: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 10px;
}

footer .form-footer .input-area button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  color: white;
  border-radius: 25px;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

footer .footer-column-area {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0px 0px 0px;
}

footer .footer-column-area .column-footer {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-column-area .column-footer li {
  padding: 10px;
}

footer .footer-column-area .column-footer li object {
  margin-right: 10px;
}

footer .footer-column-area .column-footer li:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-column-area .column-footer li:nth-child(2) .locate-icon {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 10px;
}

footer .footer-column-area .column-footer li a {
  color: #bbbbbb;
  text-decoration: none;
  padding: 10px;
}

footer .footer-column-area .column-footer li a:hover {
  text-decoration: underline;
  color: white;
}

@media screen and (max-width: 600px) {
  footer {
    max-width: 1440px;
    padding: 200px 0px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .form-footer {
    top: -10%;
  }
  footer .form-footer .input-area input[type="email"] {
    margin-bottom: 10px;
  }
  footer .footer-column-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer-column-area .column-footer {
    margin: 20px 0px;
  }
  footer .footer-column-area .column-footer li a {
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  background-color: #1c2431;
}

li {
  list-style-type: none;
}
/*# sourceMappingURL=main.css.map */